NEXT_PUBLIC_SITE_URL=https://vacina-one-site.vercel.app
WORDPRESS_API_URL=https://vacina-one-bkend.page.gd/wp-json/wp/v2
WORDPRESS_SITE_URL=https://vacina-one-bkend.page.gd
PEXELS_API_KEY=
WP_BASE_URL=
WP_USERNAME=
WP_APP_PASSWORD=
